<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="formy">
                    <form action="/citizens/<%=citizen._id%>?_method=PUT" method="POST" class="getin" >
                        <h1 style="color: white; margin-bottom: -30px; margin-top: -18px;" class="showname">
                            <%= citizen.name %>
                        </h1>
                        <div class="rolediv">
                            <div class="inside">
                                <label for="formerRole"> Former Role:</label>
                                <input type="text" name="formerRole" id="formerRole"
                                    value="<%= citizen.formerRole %>" />
                            </div>
                            <div class="sec">
                                <label for="currentRole"> Current Role:</label>
                                <input type="text" name="currentRole" id="currentRole"
                                    value="<%= citizen.currentRole %>" />
                            </div>
                        </div>

                        <label for="reason" style="margin-bottom: -18px; margin-top: -20px;"> Reason why this person was
                            chosen for Utopia Island:</label>
                        <textarea type="text" name="reason" id="reason"
                            maxlength="260" class="textarea"> <%= citizen.reason %>  </textarea>

                        <label for="rating" style="margin-bottom: -16px;" class="label">Select a rating:</label>
                        <select name="rating" style="background-color: rgb(121, 121, 121);" class="selector">
                            <option value="1">⭐️</option>
                            <option value="2">⭐️⭐️</option>
                            <option value="3">⭐️⭐️⭐️</option>
                            <option value="4">⭐️⭐️⭐️⭐️</option>
                            <option value="5" selected>⭐️⭐️⭐️⭐️⭐️</option>
                        </select>



                  


                            <button type="submit" class="updated" >Update Citizen</button>

                     

                    </form>
                </div>
            </div>
            <a href="/citizens" class="back">Back to Current Citizens </a>
        </aside>
        <main>

            <div class="right">

                <div class="citizen">
                    <a href="/citizens" class="citizen"> Current Citizens </a>
                </div>

                <div>
                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>