<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="forms">
                    <form action="/citizens/<%=citizen._id%>?_method=PUT" method="POST" class="getin">
                        <h1>
                            <%= citizen.name %>
                        </h1>
                         <div class="rolediv">
                            <div> 
                        <label for="formerRole"> Former Role:</label>
                        <input type="text" name="formerRole" id="formerRole" value="<%= citizen.formerRole %>" />
                                  </div>
                                  <div> 
                        <label for="currentRole"> Current Role:</label>
                        <input type="text" name="currentRole" id="currentRole" value="<%= citizen.currentRole %>" />
                    </div>
</div>

                        <label for="reason"> Reason why this person was chosen for Utopia Island:</label>
                        <input type="text" name="reason" id="reason" value="<%= citizen.reason %>" />

                        <label for="rating"> Rating:</label>
                        <input type="number" name="rating" id="rating" />



                           <div class="rolediv">
                        <button type="submit">Update Citizen</button>
                        <form action="/citizens/<%=citizen._id%>?_method=DELETE" method="POST">
                            <button type="submit" >Delete <%= citizen.name %></button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
           
        </aside>
        <main>

            <div class="right">

                <div>
                    <a href="/unicorns">Current Citizens</a>

                </div>
              
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>