<%- include('../partials/header.ejs') %>
    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <h1 style="color: white; margin-left: 180px;">Current Citizens </h1>
                <ul class="ulist">



                    <% citizens.forEach(citizen=> { %>
                        <div>
                            <li class="list">

                                <div class="name">
                                    <%= citizen.name %>
                                </div>

                                <div style="color: white;">
                                    <%= citizen.formerRole %>
                                </div>
                                <div>
                                    <%= '⭐️' .repeat(citizen.rating) %>
                                </div>

                                <a href="/citizens/<%= citizen._id %>" class="links"
                                    style="background-color:#2B342D; font-size: 18px;">View Profile</a>
                            </li>
                        </div>

                        <% }); %>


                </ul>
            </div>

            <a href="/citizens/new"
                style="display: flex; align-items: center; justify-content: center;  margin-top: 30px;">Add New
                Citizen</a>

        </aside>
        <main>

            <div class="right">

                <div>
                    <a href="/unicorns">Current Citizens</a>

                </div>
                <div>
                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>




    <%- include('../partials/footer.ejs') %>