<%- include('../partials/header.ejs') %>
    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>
        <aside class="margin">
            <div class="left">
                <h1 style="color: white; margin-left: 180px; font-family: Lato;">Current Citizens</h1>
                <ul class="ulist">



                    <% citizens.forEach(citizen=> { %>
                        <div>
                            <li class="list">
                                <div class="organize">
                                    <div class="name">
                                        <%= citizen.name %>
                                    </div>

                                    <div class="position" style="color: rgb(184, 184, 184);">
                                        <%= citizen.currentRole %>
                                    </div>
                                    <div class="rating" style="">
                                         <p style="font-size: 12px;  color: rgb(184, 184, 184);">Rating <%= '⭐️' .repeat(citizen.rating) %> </p>
                                    </div>

                                    <a href="/citizens/<%= citizen._id %>" class="lin" style=" font-size: 18px;">View
                                        Profile</a>
                                </div>
                            </li>
                        </div>

                        <% }); %>


                </ul>
            </div>

            <a href="/citizens/new" class="addnews" >Add New Citizen </a>

        </aside>
        <main>

            <div class="right">

                <div>
                    <h2 style="font-family: Lato; sans-serif; text-align: center; padding-top: 10px;">Current Citizens</h2>

                </div>
                <div>
                    <%- include('../partials/list.ejs') %>
                </div>
            </div>

        </main>
    </div>




    <%- include('../partials/footer.ejs') %>