<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="card">
                    <div style="color: white; margin-bottom: 20px; " class="showname">
                        <%= citizen.name %>
                    </div>
                    <div class="rolediv" style="margin-bottom: 30px; margin-top: -15px;">
                       
                        <div class="formrole">
                            <p style="color:  #DEFCAB"> Former Role</p>
                            <div style="color: white;">
                                <%= citizen.formerRole %>
                            </div>
                        </div>
                        <div style="margin-left: -50px;" class="currrole">
                            <p  style="margin-left: -250px; color:  #DEFCAB;"> Current Role</p>
                            <div  style="color: white; margin-left: -250px;">
                                <%= citizen.currentRole %>
                            </div>
                        </div>
                    
                    </div>
                    <div style="color: white; font-size: 16px; height: 100px;">
                        <p  style="margin-top: -5px; color:  #DEFCAB; "> Reason for Citizenship </p>
                        <%= citizen.reason %>
                    </div>

                    <div class="review">
                        <p  class="rev" style="margin-top: 28px;"> Review </p>
                        <%= '⭐️' .repeat(citizen.rating) %>
                    </div>
                    <div style="display:flex;  padding-top: 32px; " class="delete">
                        <form action="/citizens/<%=citizen._id%>?_method=DELETE" method="POST">
                            <button type="submit" style="margin-left: 300px; width: 200px; ">Delete <%= citizen.name %>
                            </button>
                        </form>
                    </div>
                </div>
                <div>


                    <a href="/citizens/<%= citizen._id %>/edit" class="edit">Edit <%=citizen.name %></a>
                </div>

        </aside>
        <main>

            <div class="right">

                <div class="citizen">
                    <a href="/citizens" class="citizen"> Current Citizens </a>
                </div>
                <div>
                    <div>
                        <%- include('../partials/list.ejs') %>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>