<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="card">
                    <div style="color: white; margin-bottom: 20px; " class="showname">
                        <%= citizen.name %>
                    </div>
                    <div class="rolediv" style="margin-bottom: 30px;">
                        <div >
                            <p class="formrole"> Former Role</p>
                            <div style="color: white;">
                                <%= citizen.formerRole %>
                            </div>
                        </div>
                        <div>
                            <p class="currrole"> Current Role</p>
                            <div style="color: white;">
                                <%= citizen.currentRole %>
                            </div>
                        </div>
                    </div>
                    <div style="color: white; font-size: 16px; height: 150px;">
                        <p class="currrole"> Reason for Citizenship </p>
                        <%= citizen.reason %>
                    </div>

                    <div>
                        <p class="currrole"> Review </p>
                        <%= '⭐️' .repeat(citizen.rating) %>
                    </div>
                </div>
            </div>
            <div>
                

                <a href="/citizens/<%= citizen._id %>/edit" class="edit">Edit <%=citizen.name %></a>
            </div>

        </aside>
        <main>

            <div class="right">

                <div>
                    <h2 style="font-family: Lato; sans-serif; text-align: center; padding-top: 10px;">Current Citizens</h2>

                </div>
                <div>
                    <div>
                        <%- include('../partials/list.ejs') %>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>