<%- include('../partials/header.ejs') %>

    <div class="utopia">
        <header>
            <div class="header">
                <div>
                    <img class="image" src="/images/logo.png" alt="Utopia Island logo">
                    <p class="sub"> An app to populate your island</p>
                </div>
            </div>
            <div>
                <%- include('../partials/buttons.ejs') %>
            </div>

        </header>

        <aside class="margin">
            <div class="left">
                <div class="card">
                    <div style="color: white;">
                        <%= citizen.name %>
                    </div>
                    <div class="rolediv">
                        <div>
                            <p> Former Role</p>
                            <div style="color: white;">
                                <%= citizen.formerRole %>
                            </div>
                        </div>
                        <div>
                            <p> Former Role</p>
                            <div style="color: white;">
                                <%= citizen.currentRole %>
                            </div>
                        </div>
                    </div>
                    <div style="color: white;">
                        <%= citizen.reason %>
                    </div>

                    <div>
                        <%= '⭐️' .repeat(citizen.rating) %>
                    </div>
                </div>
            </div>
            <div>

                <a href="/citizens/<%= citizen._id %>/edit"
                    style="display: flex; align-items: center; justify-content: center;  margin-top: 30px;">Edit <%=
                        citizen.name %></a>
            </div>

        </aside>
        <main>

            <div class="right">

                <div>
                    <a href="/unicorns">Current Citizens</a>

                </div>
                <div>



                </div>
            </div>

        </main>
    </div>
    <%- include('../partials/footer.ejs') %>